# Python
__pycache__/
*.py[cod]
*.egg-info/

# Entornos virtuales
.venv/
venv/
env/

# Testing / coverage
.pytest_cache/
.coverage
.coverage.*
htmlcov/
coverage.xml

# Variables de entorno
.env
.env.*

# Editor / SO
.vscode/
.idea/
.DS_Store
